.card {
  box-shadow: $card-shadow;
}

.card-header {
  border-bottom: $card-cap-border;
}

.card-footer {
  color: $card-foot-color;
  background-color: $card-foot-bg;
  border-top: $card-foot-border;
}

/* Add vertical spacing to collapsed row items in card footer and header */
.card-header > .row,
.card-footer > .row {
  margin-top: $card-cap-padding-y * -1;
  margin-bottom: $card-cap-padding-y * -1;

  & > * {
    margin-top: $card-cap-padding-y;
    margin-bottom: $card-cap-padding-y;
  }
}