/* Extra typography tweaks and styles */

/* Remove underline from block links */
a.row, a.d-block, a.d-flex {
  text-decoration: none;
}

/* Item title class */
.item-title {
  color: $item-title;
  font-weight: bold;

  small {
    margin-left: $spacer / 2;
    font-weight: normal;
  }
}

a:hover .item-title,
a.item-title:hover {
  text-decoration: underline;
}

.item-description {
  color: $item-description;
}