/* Extra typography tweaks and styles */

/* Remove underline from block links */
a.row, a.d-block, a.d-flex {
  text-decoration: none;
}

/* Item title class */
.text-title {
  color: $text-title;
  font-weight: bold;

  small {
    margin-left: $spacer / 2;
    font-weight: normal;
  }
}

a:hover .text-title,
a.text-title:hover {
  text-decoration: underline;
}
