// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
) !default;

$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;

$colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "black":      $black,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
) !default;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

// scss-docs-start spacer-variables-maps
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;

// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio:   3 !default;

// Body
//
// Settings for the `<body>` element.

$body-bg:                     $white !default;
$body-color:                  $black !default;


// Components
//
// Define common padding and border radius sizes and more.

$border-radius:               .25rem !default;
$border-radius-sm:            .2rem !default;
$border-radius-lg:            .3rem !default;
$border-radius-pill:          50rem !default;

$box-shadow:                  0 .25rem 0.75rem rgba($gray-600, .35) !default;
$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;
$box-shadow-inset:            inset 0 1px 2px rgba($black, .075) !default;

$text-title:                  $black !default;

// Toasts

$toast-danger-bg:             $red !default;
$toast-danger-border:         1px solid $red !default;
$toast-danger-color:          $white !default;

$toast-success-bg:            $green !default;
$toast-success-border:        1px solid $green !default;
$toast-success-color:         $white !default;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-border-width:      2px !default;

// Forms

$input-bg:                    $white !default;

$form-fieldset-border:        1px solid $gray-300 !default;
$form-rows-spacer:            1rem !default;

// Cards

$card-border-color:                 $gray-300 !default;
$card-shadow:                       none !default;
$card-cap-bg:                       $white !default;
$card-cap-border:                   1px solid $gray-200 !default;
$card-cap-color:                    $body-color !default;
$card-foot-bg:                      $white !default;
$card-foot-border:                  1px solid $gray-200 !default;
$card-foot-color:                   $body-color !default;

// Stamps

$stamp-color:                       $white !default;
$stamp-border-radius:               $border-radius !default;
$stamp-size:                        2rem !default;
$stamp-icon:                        1rem !default;

// UI skeletons

$skeleton-color:                    $gray-300 !default;
$skeleton-radius:                   0.1rem !default;
$skeleton-word-spacing:             0.5rem !default;

// Loaders
//
// Style Loader component.

$loader-color:                $gray-500 !default;
$loader-size:                 1rem !default;

// Login form
//
// Style Loader component.

$login-logo-height:           4rem;
$login-logo-margin:           $spacer * 2;

$login-form-padding:          $spacer * 1 !default;
$login-form-shadow:           none !default;
$login-form-gap:              $spacer * 1.5 !default;
$login-form-error:            $red !default;

// Full-page layout
//
// Style Loader component.

$col-side-width:              300px;

// Settings grid
//
// Grid of settings groups

$settings-grid-gutter:          $spacer !default;
$settings-grid-border-radius:   $border-radius-sm !default;
$settings-grid-hover-bg:        $gray-100 !default;
